@import url('http://fonts.googleapis.com/css?family=Roboto:400,900,100');

$orange-text:   #E65C43;
$white:         #FFF;
$gray-things:   #666;
$light-gray:    #F5F6F6;
$dark-gray:     #30353D;
$font-body:   'Roboto';

$assetPath : "../../images";